.product-item {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.product-item h3{
 font-size: 16px;
}
.btn-update{
    background-color: #89B140;
    color:#fff;
    border-radius: 5px;
    border: none;
}
.btn-update:hover{
    background-color: #89B140;
    color:#fff;
}
.product-img {
    margin-top: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid lightgray;
}